# Data Science Tools and Ecosystem.

In this notebook, Data Science Tools and Ecosystem are summerized.

__Objectives:__
- List popular programming languages for Data Sceince.
- List commonly used libraries for Data Science.
- Creating tables in markdown cells.
- List open-source development environments for Data Science.
- Using code cells to evaluate arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. JavaScript
7. C++

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-Learn
4. TensorFlow
5. Apache Spark
6. ggplot2

| Data Science Tools |
|----------|
|Jupyter|
|JupyterLab|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Pasian Musonda